<h1>Hello world</h1>

<div id="panel">
      <input id="address" type="textbox" value="Sydney, NSW">
      <input type="button" value="Geocode" onclick="codeAddress()">
</div>
<div id='map-container'>
	<div id='map-canvas'>

	</div>
</div>
